.outfitCard {
    
    object-fit: cover;
    
}

div.full-outfit.card{
    background-color: transparent;
}
.hoverHide{
    display: block;
}
.hoverShow{
    display: none;
}
.full-outfit:hover > .hoverHide{
    display: none;
}
.full-outfit:hover > .hoverShow{
    display: block;
}
