@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Old+Standard+TT:ital@1&display=swap");

.footer {
    margin: auto;
    display:flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: "Rubik", sans-serif;
}
