body{
    background-color: #1b1b1e;
}

form.form{
    background-color: #a9bcd04d;
    padding: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    color: #d8dbe2;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.form-text a{
    color: #373f51;
    font-weight: bold;
    font-size: 18px;
}