@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Old+Standard+TT:ital@1&display=swap');

.typedLetters {
    color: #d8dbe2;
    font-size: 150px;
    font-family: 'Old Standard TT', serif;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}